/*********** GLOBAL ***********/

* {
  font-family: Comic Sans MS, Comic Sans MS5, cursive;
  font-weight: bolder;
}

.stroked {
  border: 6px solid black;
}

.container {
  width: 1300px !important;
}

.hidden {
  display: none;
}

/*********** UPPER ***********/

#game-canvas-wrapper {
  height: 360px;
  padding: 0px;
  margin-top: 10px;
}

/*********** MIDDLE ***********/

#launchpad {
  background: darkgreen;
  height: 50px;
  border-right: 0px;
}

#ruler {
  background: yellow;
  height: 50px;
  border-left: 0px;
}

#launchpad, #ruler {
  border-top: 0px;
}

.tick {
  padding-left: 6px !important;
  padding-top: 0px !important;
  border-left: 6px solid black;
  height: 30px;
  font-size: 24px;
}

#tick-0 {
  height: 50px;
}

/*********** LOWER ***********/

#corral-canvas-wrapper {
  height: 204px;
  padding: 0px;
}

#corral, #notepad {
  margin-top: 12px;
}

#corral > .row {
  background: lightgrey;
  margin-right: -9px;
}

#notepad > .row {
  background: lightyellow;
  margin-left: -9px;
}

.entry-col {
  height: 60px;
}

#entry-row-1 {
  border-bottom: 3px solid black;
}

#entry-row-2 {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#entry-row-3 {
  border-top: 3px solid black;
}

#shape-col-1 {
  background: blue;
}

#shape-col-2 {
  background: purple;
}

#shape-col-3 {
  background: yellow;
}

#shape-col-4 {
  background: red;
}

.white {
  color: white !important;
}

img.wide {
  width: 55px;
  height: auto; 
  transform: translate(0px, 8px);
}

img.tall {
  width: auto;
  height: 55px; 
  transform: translate(0px, -5px);
}

img.iso {
  width: 55px;
  height: auto; 
  transform: translate(0px, -5px);
}

.entry-col {
  position: relative;
  margin: 0px auto;
  font-size: 40px;
  text-align: center;
}

#signout-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  color: black;
  font-size: 24px;
}

#signin {
  margin-top: 200px;
}

#signin-btn {
  float: none;
  margin: 0 auto;
  width: 300px;
}
